.marqueeList {
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-name: marquee;
    animation-timing-function: linear;
}

@keyframes marquee {
    0% {
        left: 100%;
        transform: translate(0)
    }

    to {
        left: 0;
        transform: translate(-100%)
    }
}

.marqueeList .whitespaceNowrap {
    font-weight: 500;
    color: #000;
}

.newsRowContainer {
    padding: 6px 0px;
    background: #FFF;
}

.newsIcon {
    padding: 0px 15px;
    border-right: 1px solid rgb(212 224 229);
    font-size: 20px;
}