.marketOddsBox .allMatchBox:last-child {
    border-bottom: none;
    border-radius: 0px 0px 6px 6px;
}

.allMatchBox {
    border-bottom: 1px solid #FFF;
    min-height: 46px;
    background: rgb(238, 246, 251);
}

.MatchOddsBox {
    padding: 6px 0px;
}

.gameName {
    padding: 0 8px;
    font-size: 17px;
    color: rgb(30, 30, 30);
    font-weight: 700;
}

.runningExposure {
    padding: 0 8px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(30, 30, 30);
}

.runningExposure.runningPos {
    color: #62b70b;
}

.runningExposure.runningNeg {
    color: #e20000;
}

.oddBetsBox {
    gap: 2px
}

.backBetBox, .LayBetBox {
    padding: 6px 0;
    border-radius: 6px;
}

.backBetBox {
    background: rgb(124, 195, 245);
}

.LayBetBox {
    background: rgb(250, 169, 186);
}

.oddStake {
    font-size: 19px;
    font-weight: 700;
    color: rgb(30, 30, 30);
    line-height: 19px;
}

.oddExposure {
    font-size: 11px;
    color: rgb(30, 30, 30);
    line-height: 11px;
    padding: 0 5px;
}

.oddsDisabled {
    background: rgba(111, 136, 152, 0.80);
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
}

.betMinMaxAmt {
    gap: 2px;
    font-size: 15px;
    color: rgb(126, 145, 158);
}

.minText {
    font-size: 13px;
    color: inherit;
}

.betMinMax {
    font-size: 13px;
    font-weight: 700;
    color: inherit;
}

.animateSparkBack {
    animation: sparkBack .1s ease;
    -webkit-animation: sparkBack .1s ease;
}

.animateSparkLay {
    animation: sparkLay .1s ease;
    -webkit-animation: sparkLay .1s ease;
}

@keyframes sparkLay {
    0%, to {
        background: #26f1f8;
        color: #000;
    }

    90% {
        background: #26f1f8;
        color: #000;
    }
}

@-webkit-keyframes sparkLay {
    0%, to {
        background: #26f1f8;
        color: #000;
    }

    90% {
        background: #26f1f8;
        color: #000;
    }
}

@-webkit-keyframes sparkBack {
    0%, to {
        background: #f6ff0e;
        color: #000;
    }

    90% {
        background: #f6ff0e;
        color: #000;
    }
}

@keyframes sparkBack {
    0%, to {
        background: #f6ff0e;
        color: #000;
    }

    90% {
        background: #f6ff0e;
        color: #000;
    }
}

@media only screen and (max-width: 568px) {
    .gameName, .oddStake, .matchOddTitle, .matchTitleHighlight {
        font-size: 16px;
    }

    .oddExposure {
        font-size: 10px;
    }
}