.marketOddsBox .allMatchBox:last-child {
    border-bottom: none;
    border-radius: 0px 0px 6px 6px;
}

.allMatchBox {
    border-bottom: 1px solid #FFF;
    height: 46px;
    background: rgb(238, 246, 251);
}

.gameName {
    padding: 0 8px;
    font-size: 17px;
    color: rgb(30, 30, 30);
    font-weight: 700;
}

.oddBetsBox {
    gap: 2px
}

.backBetBox, .LayBetBox {
    padding: 6px 0;
    border-radius: 6px;
}

.backBetBox {
    background: rgb(124, 195, 245);
}

.LayBetBox {
    background: rgb(250, 169, 186);
}

.oddStake {
    font-size: 19px;
    font-weight: 700;
    color: rgb(30, 30, 30);
    line-height: 19px;
}

.oddExposure {
    font-size: 11px;
    color: rgb(30, 30, 30);
    line-height: 11px;
}

.oddsDisabled {
    background: rgba(111, 136, 152, 0.80);
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
}

@media only screen and (max-width: 568px) {
    .gameName, .oddStake, .matchOddTitle, .matchTitleHighlight {
        font-size: 16px;
    }

    .oddExposure {
        font-size: 10px;
    }
}