.betPlacePopup {
    border-radius: 13px 13px 0px 0px;
    padding: 0 6px 8px;
    max-width: 480px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(30, 30, 30, 0.50) 0px -3.584px 23.76px 0px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}

.showBetStatus.betPlacePopup {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.betMatchSuccess {
    background: #52bf04;
}

.betMatchFailed {
    background: #e20000;
}

.betheaderRow {
    min-height: 50px;
    padding: 4px 0;
}

.betMatchTitle {
    font-size: 20px;
    color: #FFF;
    gap: 10px;
}

.betStatusName {
    color: #FFF;
    font-size: 16px;
}

.closeMatchClose {
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    color: #FFF;
}

.matchBetDetail {
    padding: 10px;
    background: #eef6fb;
    border-radius: 5px;
}

.matchName, .matchLoss, .matchOdds {
    color: #1e1e1e;
    font-size: 16px;
    padding: 0 9px;
}

.matchLossBox {
    border-left: 1px solid #c1e6fd;
    border-right: 1px solid #c1e6fd;
}

.betTag {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 30px;
}

.OddbackTag {
    background: rgb(161, 210, 244);
}

.OddLayTag {
    background: rgb(252, 198, 209);
}