.footerSocialIcons {
    gap: 10px;
    padding: 30px 0;
}

.socialIcon {
    height: 40px;
    width: 40px;
    font-size: 35px;
    color: #000;
    border-radius: 100%;
}

.footerHomeLinksRow {
    padding: 0px 20px 40px;
    gap: 10px 0px;
}

.homeEssentialLink {
    font-size: 14px;
    color: rgb(30, 30, 30);
    padding: 0px 10px;
    border-right: 1px solid rgb(212, 224, 229);
}

.footerHomeLinksRow .homeEssentialLink:last-child {
    border-right: none;
}

@media only screen and (max-width:568px) {
    .homeEssentialLink {
        font-size: 12px;
    }
}