.searchLayer {
    top: 50px;
    background: #eef6fb;
    z-index: 8;
    max-width: 480px;
}

.SearchBox {
    height: 54px;
    background: #000;
}

.matchSearch {
    padding: 13px;
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    border: none;
    box-shadow: none;
    background: transparent;
}

.matchSearch:focus {
    outline: none;
    border: none
}

.closeSearch {
    height: 54px;
    width: 54px;
    font-size: 15px;
    color: #FFF;
}

.allSearchResult {
    height: calc(100% - 55px);
}

.recentSearches {
    padding: 8px 17px;
}

.leagueTitle {
    font-size: 19px;
    font-weight: 700;
    color: #1E1E1E;
    padding-left: 5px;
}

.allRecentHistory {
    border-radius: 13px;
    gap: 1px 0px;
    margin-top: 10px;
    background: rgb(212, 224, 229);
}

.recentSearchRow {
    background: #FFF;
    min-height: 55px;
    padding: 0 10px;
}

.recentSearchName {
    gap: 10px;
    font-size: 17px;
    color: #000;
}

.searchName {
    font-size: 18px;
    color: #000;
}

.searchIcon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #7e919e;
    font-size: 17px;
}

.resultSearchName {
    padding: 8px 0;
}

.highlightText {
    color: rgb(26, 142, 225);
    font-weight: 700;
}

.backSearchList {
    border-radius: 13px;
    padding: 17px;
    background: #FFF;
    margin: 10px 0;
}

.backSearch {
    font-size: 18px;
    gap: 10px;
    color: rgb(126, 145, 158);
    padding-right: 8px;
    border-right: 1px solid rgb(126, 145, 158);
}

.tournamentName {
    padding-left: 17px;
    color: rgb(30, 30, 30);
    font-size: 19px;
}